@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600;700;800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
}

.row {
    margin: 0;
}



.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #DF3331 !important;
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-brand span {
    display: inline-block;
    padding: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #DF3331;
    border-radius: 30px 0 0 30px;
    font-weight: 700;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}


#nav-toggle:checked + .sidebar {
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

/* #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
} */

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header {
    background: #fff;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 0.5rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

.ripus, .detail-section, .detail-section2 {
    display: flex;
    justify-content: space-between;
}

.detail-section p, .detail-section2 p {
    font-weight: 900;
}

.detail-section2, .co {
    display: none;
}

.create {
    text-align: right;
}

@media screen and (max-width: 650px) {
    .rc {
        display: none;
    }

    .detail-section2 {
        display: block;
    }

    header h2 {
        display: block !important;
    }

    .cn {
        margin-top: 10px;
    }

    header {
        padding: 0;
    }

    .create {
        text-align: center;
    }   
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    header h2 {
        display: block !important;
    }
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
    padding-top: 5px;
}

label {
    color: #DF3331;
}


main {
    margin-top: 65px;
    padding: 0.5rem 1.5rem;
    background: #e8e4fd;
    min-height: calc(200vh - 50px);
}


@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }

    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }

    .sidebar li a {
        padding-left: 0rem;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .main-content {
        margin-left: 70px;
    }

    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }

}


@media screen and (max-width: 1200px) {

    .sidebar {
        left: -100% !important;
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        background: var(--main-color);
        padding-left: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-content: center;
        justify-content: center !important;
    }

    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }

    header h2 {
        font-size: 1.1rem;
    }

    .main-content {
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left: 2rem;
        text-align: left;
    }

    #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child {
        display: inline;
    }

    #nav-toggle:checked ~ .main-content {
        margin-left: 0rem !important;
    }
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
}
  
.card-single, .box {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.box {
    padding: 1.50rem 0.2rem 1.50rem 1.30rem!important;
    height: 275px;
    width: 100%;
}



/* .card-single2 {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} */



.card-body {
    padding: 1.50rem 0.2rem 1.50rem 1.30rem!important;
}
.card-body h5 {
 font-weight: bolder;
}

.card-body p {
 font-weight: 600;
 font-size: 16px;
 color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
    }

    .card-single {
        margin-bottom: 1rem;
    }
}

.outer-wrapper {
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    max-width: 100%;
    max-height: fit-content;
    position: relative;
}
.table-wrapper {

    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
    
}


table {
    
    min-width: max-content;
    
    border-collapse: separate;
    border-spacing: 0px;    
    
}

.mio {
    /* position: absolute; */
    bottom: -45px;
    right: 0;
}

.monc {
    padding: 10px 15px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    outline: none;
    margin: 10px;
    cursor: pointer;
}

.mactive {
    background: #2334A8;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}

.mactive2, .mactive3 {
    background: rgb(13, 141, 13);
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}

.mactive3 {
    background: red;
}


table th{
    position: sticky; 
    top: 0px;
    
    background-color: #fff;
    color: rgba(0, 0, 0, 0.3);
    
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    outline: 0.7px solid #fff;
    border: 1.5px solid #fff;

} 



table th, table td {
    
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td {
    text-align: center;
    
    font-size: 15px;
    /* border: 1px solid rgb(177, 177, 177); */
    padding-left: 20px;
    
}

table td:first-child {
    text-align: left;
}

table thead th:first-child {
    text-align: left;
}

/* table td:nth-child(9) {
    text-align: left;
} */


.mimipara {
    padding: 5px 15px;
    margin: 0;
}

.box-img img {
    max-width: 100%;
    box-sizing: border-box;
}

/* .subItems {
    display: flex;
} */


@media screen and (max-width: 850px) {
    .subItems {
        flex-direction: column;
    }

    .subForm {
        width: 100%;
    }
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}


.dropdown-item {
    color: #000;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.dropdown-menu {
    background-color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu .sub-category {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}


#nav-list {
    padding: 20px;
}

hr {
    background-color: rgb(66, 99, 17);
}

.logspan {
    color: #fff;
    cursor: pointer;
}


/* progress bar */
.progress {
    width: 150px;
    height: 150px !important;
    float: left; 
    line-height: 150px;
    background: none;
    /* margin: 20px; */
    box-shadow: none;
    position: relative;
}
.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left {
    left: 0;
}
.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right {
    right: 0;
}
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 24px;
    color: #4A23B9;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar {
    border-color: #4A23B9;
}
.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
    border-color: #fdba04;
}
.progress.yellow .progress-right .progress-bar {
    animation: loading-3 1.8s linear forwards;
}
.progress.yellow .progress-left .progress-bar {
    animation: none;
}
@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    }
    @keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
    }
    @keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
}

.head-shift {
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
}

.head-shift2 {
    display: flex;
    /* justify-content: flex-end; */
    column-gap: 50px;
}

@media screen and (max-width: 650px) {
    .head-shift {
        flex-direction: column;
    }
    .head-shift2 {
        flex-direction: column;
    }
    .letcourse2 {
        width: 85%;
    }
    .letcourse {
        width: 85%;
    }
}

.input-group {
    width: 300px;
}

.input-group-text {
  background: transparent;
}

.form-control {
    border: 1px solid rgb(182, 178, 178) !important;
    margin-top: 10px;
    outline: none !important;
    box-shadow: none !important;
}

.fill {
    border: 1px solid #000;
}

.form-control:focus {
    border: 1px solid #4A23B9;
}

.form-control::placeholder {
 color: rgba(0, 0, 0, 0.3);
}

.para {
 color: rgba(0, 0, 0, 0.5);
}

.imglog {
    width: 70%;
}

.display-4 {
    font-size: 1.5rem !important;
    font-weight: 900;
}

.jumbotron {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10% auto;
}

.fiter-btn {
    box-shadow: none;
    outline: none;
    border: 0;
    color: #4A23B9;
}

.view {
    border: 1px solid #2334A8;
    outline: none;
    box-shadow: none;
    padding: 5px 10px;
    color: #000;
    border-radius: 5px;
}





/* styling notification page */
.move {
    margin-left: 150px;
    padding: 3px 5px;
    background: #C80606;
}

.noti {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #212120;
}

.gen, .int, .en {
    border: 0;
    box-shadow: none;
    outline: none;
    background: #4D30C7;
    color: #fff;
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.int, .en {
    background: #E8E4FD;
    color: #767676;
}

.not-item {
    display: flex;
    column-gap: 30px;
}

.not-item img {
    width: 12%;
}

.not-item p {
    font-size: 12px;
    margin-top: 15px;
}

.not-num {
    display: flex;
    justify-content: end;
}

.not-num a {
    text-decoration: none;
    color: #4A23B9;
    margin-right: 10px;
}

.not-num button {
    outline: none;
    border: 0;
    box-shadow: none;
    color: #0C1E5B;
}

.not-num button:hover {
    color: #4D30C7;
}

.scroll-bg {
    padding: 25px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.scroll-div {
    height: 438px;
    overflow: hidden;
    overflow-y: scroll;
}

.btn-in {
    outline: none;
    box-shadow: none;
    border: 0;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background: #FBD0D0;
    color: #950707;
}

.content {
    display: flex;
    justify-content: space-between;
}

.first {
    color: #3c3c3b;
}

.select-input {
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(173, 172, 172);
    padding: 5px 20px;
    border-radius: 5px;
}

.what-btn {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 10px 15px;
    background: #4A9A5B;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 25px;
}

.copy-btn {
    outline: none;
    border: 1px solid #4A23B9;
    color: #4A23B9;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
}

.sec2, .sec3 {
    display: none;
}

/* enrolled page */

.myForm {
    width: 100%;
}

@media screen and (max-width: 650px) {
    .myForm {
        width: 100%;
    }
}

.palo {
    width: 100%;
    outline: none !important;
    box-shadow: none !important;
    padding: 14px;
    border: 1px solid rgb(204, 201, 201);
    border-radius: 10px;
}

.palo:focus {
    border: 1px solid #000 !important;
}

.adminBtn {
    background-color: #0d38c4;
    border: 0;
    outline: none;
    box-sizing: none;
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.myBody {
    background: #0C1E5B;
}

.spin, .spin2 {
    display: none;
}

.upd-btn, .del-btn, .se-btn, .upd {
    border: 0;
    outline: none;
    box-shadow: none;
    background: #6280e4;
    color: #fff;
    padding: 10px;
    margin-right: 15px;
    border-radius: 8px;
}

.upd {
    background: #6280e4;
    padding: 8px;
}

.se-btn {
    background: #0C1E5B;
    padding: 12px 15px;
}

.mymodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.pagemodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.82);
}
  
.modal-content {
    margin: 10% auto 10% 30%;
    width: 56%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 2s;
}

@media screen and (max-width: 650px) {
    .modal-content {
        width: 100%;
        margin: 50% auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .modal-content {
        width: 100%;
        margin: 50% auto;
    }
}
  
.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
    background: #DF3331;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 20px;
}


.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
    opacity: 1;
    }
}

.box-student {
    margin: 2% auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 650px) {
    .box-student {
        width: 100%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .box-student {
        width: 100%;
    }
}

.body-details {
    background: #c6c4c4;
}

.en-text {
    color: #2334A8;
}

.up-btn {
    outline: none;
    box-shadow: none;
    border: 0;
    background: #6280e4;
    padding: 10px 10px;
    color: #fff;
    width: 50%;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 18px;
}

.rc a {
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .up-btn {
        width: 100%;
    }
}

.search-card {
    width: 100%;
    border-radius: 14.243902206420898px;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 25px;
    height: 600px;
    position: relative;
}

.search-card-force {
    width: 100%;
    border-radius: 14.243902206420898px;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 25px;
    /* position: relative; */
}

.tit {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.tit:hover {
    color: #DF3331
}

.search-card h5 {
    color: #6280e4;;
}

.upd-btn, .del-btn {
    border: 0;
    outline: none;
    box-shadow: none;
    background: #6280e4;
    color: #fff;
    padding: 10px;
    margin-right: 15px;
    border-radius: 8px;
}

.update {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    background: #0d38c4;
    border-radius: 5px;
    width: 50%;
}

.del-btn {
    background: rgb(241, 72, 72);
}
.boxin {
    width: 10px;
    background-size: contain;
}

.v2 {
    width: 60%;
    border-radius: 50%;
}

.adimg {
    width: 15%;
    border-radius: 50%;
}

.peep {
    padding: 10px 20px;
    background: #c6c4c4;;
}

.manzi {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 20px;
}
.manzi2 {
    padding: 20px;
}

.create-btn, .co-btn {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 10px 15px;
    background: #DF3331;
    color: #fff;
    border-radius: 5px;
    width: 180px;
}

.create-btn:hover, .co-btn:hover {
    background: green;
}

.ass-btn {
    border: 0;
    outline: none;
    box-shadow: none;
    background: rgb(10, 113, 10);
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
}

.re-btn, .upstate-btn {
    border: 0;
    outline: none;
    box-shadow: none;
    background: rgba(165, 42, 42, 0.819);
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
}

.upstate-btn {
    background: #0C1E5B;
}

.rider {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 20px;
}

.sort-btn, .pro-btn {
    border: 0;
    outline: none;
    box-shadow: none;
    background: #0C1E5B;
    color: #fff;
    padding: 18px 15px;
    font-size: 14px;
    line-height: 5px;
    border-radius: 5px;
    /* width: 100%; */
}

.pro-btn {
    padding: 10px 10px;
    width: 50%;
}

@media screen and (max-width: 992px) {
    .pro-btn {
        width: 100%;
        padding: 25px 10px;
    }

    .search-card {
        height: auto;
    }
}
.las {
    background-color:#0C1E5B !important;
}

.shape {
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.shape2 {
    outline: none;
    border: 1px solid #000;
    box-shadow: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

/* loader */
.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.sect-card {
    padding: 20px 25px;
    background: #fff;
    border-radius: 10px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.box-id {
    margin: 18% auto;
}



.fal {
    padding: 10px;
    background: #e7e7e4;
    border-radius: 50%;
}

.box-card {
    width: 100%;
}

.box-card a, .box-card2 a {
    color: #0C1E5B;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.err-bg {
    background: #000;
}

.err-box {
    margin: 5% auto;
}

.err-box img {
    max-width: 100%;
}

.err-box h3 {
    font-weight: bolder;
    color: #232057;
}

.err-box p {
    color: #F8991D;
}

.err-btn {
    outline: none;
    box-shadow: rgb(90, 103, 115) 0px 20px 30px -10px;
    border: 0;
    padding: 10px 25px;
    background: #2334A8;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
}
  

.get-next, .get-previous {
    width: 10%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    cursor: pointer;
    padding: 10px;
}

.current-page {
    line-height: 40px;
    margin: 10px;
    font-family: sans-serif;
    font-weight: 600;
}

.card-item-image {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.owl-carousel .owl-nav.disabled {
    display: block !important;
}


.owl-carousel .nav-button {
    height: 50px;
    width: 55px;
    cursor: pointer;
    position: absolute;
    top: 60px !important;
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px !important;
  }
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
  }
  .owl-carousel .owl-prev {
    left: -2px;
  }
  .owl-carousel .owl-next {
    right: -2px;
  }
  .owl-theme .owl-nav [class*=owl-] {
    color: #DF3331 !important;
    font-size: 30px !important;
    background: #fff !important;
    border-radius: 50% !important;
    font-weight: 600;
  }
  .owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
  }
  .owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
  }

.owl-theme .owl-dots {
    text-align: center !important;
}

.owl-theme .owl-dots .owl-dot {
    height: 18px !important;
    width: 18px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #B7B7B9 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #DF3331 !important;
}

.logosmall {
    display: none;
}


@media screen and (min-width: 1200px) {
    .owl-carousel .nav-button {
        top: 90px !important;
    }
}

@media screen and (max-width: 992px) {
    .logosmall {
        display: block;
    }
    .arnd {
        display: none;
    }
}

.event-side, .event-side2 {
    display: none;
}

.box-flex {
    display: flex;
    justify-content: space-between;
}
